body
{
    text-align: center;
}
#welcome {
    color:springgreen;
    bottom:0;
    background: linear-gradient(	 #ff99ff 0%,#006666 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
    
    
}
#bio{
    font-family: cursive;
    padding: 50px;
    text-align: center;
}
h1{
    font-size: 40px;
    font-family: comic sans;
    font-weight: 300;
    
        
}
.line{
    height: 6px;
    background-color: blanchedalmond;
    width: 70px;
    margin: 8px auto;
}

#contact iframe
{
    
    width:100%;
}

.contact_1 a
{
    text-shadow: none;
    
}

#videos iframe
{
    width:80%;
}
.my_nav_bar
{
    position: sticky;
    top:0;
    z-index:99999
}

input
{
    background:grey;
}